@(cartProducts: List[anorm.~[CartProduct, Product]], customer: Customer)
@import helper._

@main("Products in cart") {
    <h1>@cartProducts.size Product(s)</h1>
    @cartProducts.map { cartProduct =>
        @println(cartProduct)
        <ul>
            How to loop over 2-tuple anorm list?
            ~(CartProduct(1,10,1,1),Product(1,101,1630.0,1,1,1,Processor speed: 3.33Ghz, RAM size: 512Mb, Hard disk size: 100Gb, Display size: 17"))

        </ul>
    }

    <h3>Tax: </h3>
    <h2>Total: </h2>
    <a href="@routes.CartsController.checkout(customer.id)"><button type="button">Checkout</button></a>
}
