@(customerForm: Form[(String, String, String, String, String, String, String)])

@import helper._

@main("newCustomer") {
  <h1>New Customer</h1>

  <center><h2>Create new customer account</h2></center>
  @form(routes.CustomersController.createCustomer){
    @inputText(customerForm("first_name"))
    @inputText(customerForm("last_name"))
    @inputText(customerForm("password"))
    @inputText(customerForm("email"))
    @inputText(customerForm("street"))
    @inputText(customerForm("zip"))
    @inputText(customerForm("city"))
    <input type="submit" value="Create" class="btn btn-large btn-mobile-block btn-blue">
  }
}
