@(products: List[Product])

@main("Product List") {
    <h1>Product List</h1>
    @products.map { product =>
        <ul>
        <li>ID: @product.id</li>
        <li>Stocknr: <a href="@routes.ProductsController.detail(product.id)">@product.stockNumber</a></li>
        <li>Price: @product.price</li>
        <li>Company: @product.companyID</li>
        <li>Model: @product.modelID</li>
        <li>Category: @product.categoryID</li>
        <li>Description: @product.description</li>
        </ul>
    }
}
